<h2>Patient List</h2>

<!-- Search by ID -->
<mat-form-field appearance="outline" style="width: 210px;">
    <mat-label>Search by name</mat-label><!-- Prefix icon -->
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchId" (input)="onSearchInputChange()" placeholder="Enter patient username" />
</mat-form-field>
<button mat-raised-button color="primary" (click)="onSearchInputChange()">Search</button>

<!-- Loading -->
<div *ngIf="loading" class="flex justify-center p-4">
    <mat-spinner></mat-spinner>
</div>

<!-- Error -->
<div *ngIf="error" class="text-danger">{{ error }}</div>

<!-- Table -->
<div *ngIf="!loading && dataSource.data.length > 0" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element" [innerHTML]="highlightMatch(element.username)"></td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let element" [innerHTML]= "highlightMatch(element.firstName + ' ' + element.lastName)">{{ element.firstName }} {{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element" [innerHTML]="highlightMatch(element.email)">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
        <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
        <td mat-cell *matCellDef="let element">{{ element.dateOfBirth | date:'mediumDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="bloodGroup">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Blood Group</th>
        <td mat-cell *matCellDef="let element">{{ element.bloodGroup }}</td>
      </ng-container>

      <ng-container matColumnDef="medicalHistory">
        <th mat-header-cell *matHeaderCellDef>Medical History</th>
        <td mat-cell *matCellDef="let element">{{ element.medicalHistory }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
        <span
          [ngStyle]="{
            'background-color': element.status === 'Active' ? 'green' : 'red',
            'color': 'white',
            'padding': '2px 6px',
            'border-radius': '4px'
          }">
          {{ element.status }}
        </span>
          </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="populateUpdateForm(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" (click)="deletePatient(element.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

